{% extends 'base.html.twig' %}

{% block title %}CompteBancaire{% endblock %}

{% block body %}
<div class="entete">
    <h1> </h1>
    <a class="logout" href="{{ path('index') }}">Accueil</a>
    </div>
<div class="index">
    <h1>CompteBancaire</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte_bancaire.id }}</td>
            </tr>
            <tr>
                <th>Iban</th>
                <td>{{ compte_bancaire.iban }}</td>
            </tr>
            <tr>
                <th>Solde</th>
                <td>{{ compte_bancaire.solde }}</td>
            </tr>
            <tr>
                <th>Propriétaire</th>
                <td>{{ compte_bancaire.user.username }}</td>
            </tr>
        </tbody>
    </table>

    <br/>

    <a class="btn" href="{{ path('compte_bancaire_edit', {'id': compte_bancaire.id}) }}">Modifier</a>

    {{ include('compte_bancaire/_delete_form.html.twig') }}

    <br/>
</div>
{% endblock %}
