{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>Profil</h1>

    <p>{% if user.gender != 'Autre' %}{{ user.gender }}{% endif %} {{ user.firstname }} {{ user.lastname }}</p>
    <p>{% if user.gender == 'Madame' %}
        Née
        {% elseif user.gender == 'Monsieur' %}
        Né
        {% else %}
        Né(e)
        {% endif %}
        le {{ user.birthday ? user.birthday|date('d F Y') : '' }}</p>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{% if user.roles ? user.roles|json_encode : '' == '"ROLE_ADMIN","ROLE_USER"'%} ADMIN {% else %} USER {% endif %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier le profil</a>

    {{ include('user/_delete_form.html.twig') }}

    <h1>Mes comptes</h1>

    <a href="{{ path('index') }}">Retour à la page d'accueil</a>
{% endblock %}
