{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<div class="entete">
    <h1> {{ app.user.firstname }} {{ app.user.lastname }}</h1>
    <a class="logout" href="{{ path('index') }}">Acceuil</a>
    </div>
<div class="controllers">
        <div class="informations_controller">
        <h2>Informations</h2>
        <p>{% if app.user.gender != 'Autre' %}{{ app.user.gender }}{% endif %} {{ app.user.firstname }} {{ app.user.lastname }}</p>
        <p>{% if app.user.gender == 'Madame' %}
            Née
            {% elseif app.user.gender == 'Monsieur' %}
            Né
            {% else %}
            Né(e)
            {% endif %}
            le {{ app.user.birthday ? app.user.birthday|date('d F Y') : '' }}</p>

        <p><strong>Username : </strong>{{ app.user.username }}</p>
        <p><strong>Roles : </strong>{% if 'ROLE_ADMIN' in app.user.roles ? app.user.roles|json_encode : '' %} ADMIN {% else %} CLIENT {% endif %}</p>
        <br/>

        {% if 'ROLE_ADMIN' in app.user.roles ? app.user.roles|json_encode : '' %}
            <a class="btn" href="{{ path('user_edit', {'id': app.user.id}) }}">Modifier le profil</a>
            <br/>
            {{ include('user/_delete_form.html.twig') }}
        {% endif %}
        </div>

        <div class="comptes_controller">
        <h2>Mes comptes</h2>
            {% set size1 = app.user.compteBancaires | length %}
            {% if size1 > 0 %} 
                <table class="table">
                    <tr>
                        <th>IBAN</th>
                        <th>Solde initial</th>
                        <th>Solde actuel</th>
                    </tr>
                    {% for compteBancaires in app.user.compteBancaires %}
                        <tr>
                            <td>{{ compteBancaires.iban }}</td>
                            <td>{{ compteBancaires.solde }}</td>
                            {% set size3 = compteBancaires.debits | length %}
                            {% set size4 = compteBancaires.credits | length %}
                            {% set sommeCredits = 0 %}
                            {% set sommeDebits = 0 %}
                            {% if size3 > 0 %}
                                {% for debits in compteBancaires.debits %}
                                    {% set sommeDebits = sommeDebits + debits.montant %}
                                {% endfor %}
                            {% elseif size4 > 0 %} 
                                {% for credits in compteBancaires.credits %}
                                    {% set sommeCredits = sommeCredits + credits.montant %}
                                {% endfor %} 
                            {% endif %}
                            <td>{{ compteBancaires.solde - sommeDebits + sommeCredits }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %} 
                <p>Vous n'avez pas de comptes bancaires. </p>
            {% endif %}
        </div>

        <div class="beneficiaires_controller">
        <h2>Mes bénéficiaires</h2>
            {% set size2 = app.user.beneficiaires | length %}
            {% if size2 > 0 %} 
                <table class="table">
                    <tr>
                        <th>IBAN</th>
                    </tr>
                    {% for beneficiaires in app.user.beneficiaires %}
                        <tr>
                            <td>{{ beneficiaires.compteBancaire.iban }}</td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %} 
                <p>Vous n'avez pas de bénéficiaires.</p> 
            {% endif %}
            <br/>
            <a class="btn" href="{{ path('beneficiaire_new') }}">Ajouter un bénéficiaire</a>
        </div>

        <div class="transactions_controller">
        <h2>Mes transactions</h2>
        {% set size5 = app.user.compteBancaires | length %}
        {% if size5 > 0 %} 
            {% for compteBancaires in app.user.compteBancaires %}
            {% set size6 = compteBancaires.debits | length %}
            {% set size7 = compteBancaires.credits | length %}
            {% if size6 > 0 or size7 > 0 %}
                <table class="table">
                    <tr>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Compte débité</th>
                        <th>Compte crédité</th>
                    </tr>
            {% else %}
                <p>Vous n'avez pas de transactions.</p>
            {% endif %}
                    {% if size6 > 0 %}
                        {% for debits in compteBancaires.debits %}
                        <tr>
                            <td>{{ debits.doneAt ? debits.doneAt|date('d/m/Y') : '' }}</td>
                            <td>{{ debits.montant }}</td>
                            <td>{{ debits.compteDebite.iban }}</td>
                            <td>{{ debits.compteCredite.iban }}</td>
                        </tr>
                        {% endfor %}
                    {% endif %}
                    {% if size7 > 0 %} 
                        {% for credits in compteBancaires.credits %}
                            <tr>
                            <td>{{ credits.doneAt ? credits.doneAt|date('d/m/Y') : '' }}</td>
                            <td>{{ credits.montant }}</td>
                            <td>{{ credits.compteDebite.iban }}</td>
                            <td>{{ credits.compteCredite.iban }}</td>
                        </tr>
                        {% endfor %}  
                    {% endif %}
                </table>
            {% endfor %}  
        {% endif %}  
        <br/>
        <a class="btn" href="{{ path('transaction_new') }}">Faire une transaction</a>
        </div>
    </div>
    
{% endblock %}
